"*":
  "autocomplete-plus": {}
  "block-cursor":
    global:
      blinkOff:
        backgroundColor: "rgba(183, 183, 17, 0.2)"
        borderStyle: "none"
      blinkOn:
        backgroundColor: "rgba(183, 183, 17, 0.8)"
        borderStyle: "none"
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "spell-check"
      "wrap-guide"
      "whitespace"
    ]
    packagesWithKeymapsDisabled: [
      "autocomplete-plus"
      "symbols-view"
      "advanced-open-file"
    ]
  "disable-keybindings":
    allCommunityPackages: true
    prefixKeys: [
      "ctrl-k"
    ]
  "exception-reporting":
    userId: "8f3dd17c-2470-4a4f-b817-22564015c34c"
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
  telemetryConsent: "limited"
".cpp.source":
  editor:
    showIndentGuide: true
".diff.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".erb.html.text":
  editor:
    tabLength: 2
".js.source":
  editor:
    tabLength: 2
".ruby.source":
  editor:
    tabLength: 2
".source.yaml":
  editor:
    autoIndentOnPaste: false
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: false
    softWrapAtPreferredLineLength: false
    tabLength: 2
"disable-keybindings":
  allCommunityPackages: true
editor:
  preferredLineLength: 120
  scrollPastEnd: true
"exception-reporting":
  userId: "1b10f430-cf78-4e43-88dc-f2fe986186f1"
minimap:
  plugins:
    cursorline: true
    cursorlineDecorationsZIndex: 0
    "find-and-replace": true
    "find-and-replaceDecorationsZIndex": 0
    "git-diff": true
    "git-diffDecorationsZIndex": 0
    "minimap-hide": true
    "minimap-hideDecorationsZIndex": 0
  redrawDelay: 300
  scrollAnimation: true
"tree-view":
  hideVcsIgnoredFiles: true
welcome:
  showOnStartup: false
